Source: password-store
Maintainer: Colin Watson <cjwatson@debian.org>
Section: admin
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.50~)

Package: pass
Architecture: all
Depends: xclip, pwgen, git-core, gnupg, tree
Description: Stores, retrieves, generates, and synchronizes passwords securely using gpg, pwgen, and git.
