#!/usr/bin/make -f
%:
	dh $@ --with=python2

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/pass PREFIX=/usr \
		ZSHCOMPDIR=/usr/share/zsh/vendor-completions \
		WITH_ALLCOMP=yes \
		install

override_dh_installexamples:
	dh_installexamples -X.gitignore

override_dh_compress:
	dh_compress -X.el
